// Fonts
$playfair-r: 'Playfair Display Regular';
$playfair-b: 'Playfair Display Bold';
$playfair-i: 'Playfair Display Italic';

$helvetica-r: 'Helvetica Neue Cyr Roman';
$helvetica-m: 'Helvetica Neue Cyr Medium';
$helvetica-l: 'Helvetica Neue Cyr Light';

// Fonts size
$title-size: 80px;
$logo-size: 18px;
$menu-size: 18px;
$global-size: 16px;


// Colors
$black: #111E1A;
$white: #FCF9F5;
$footer-black: #0B1411;
$footer-white: #F1EDE8;
$text-black: #2B2B2B;

